@model About
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="container-fluid">
    <h3>Hakkımda Güncelleme Sayfası</h3>
    <div class="card">
        <div class="card-body">
            <div class="card-sub">
                Hakkımda İle İlgili İşlemleri Aşağıdaki Panelden Yapabilirsiniz
            </div>
            <hr />
            <form method="post">
                <input type="hidden" asp-for="AboutId" />
                <label>Başlık</label>
                <input type="text" asp-for="Title" class="form-control">
                <br />
                <label>Alt Başlık</label>
                <input type="text" asp-for="Subdescription" class="form-control">
                <br />
                <label>Açıklama</label>
                <textarea rows="4" asp-for="Detail" class="form-control"></textarea>
                <br />
                <button class="btn btn-primary">Hakkımda Güncelle</button>
            </form>
        </div>
    </div>
</div>