@model List<ToDoList>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
    int c = 1;
}

<div class="container-fluid">
    <h3>Yapılacaklar</h3>
    <div class="card">
        <div class="card-body">
            <div class="card-sub">
                Yapılacaklar İle İlgili İşlemleri Aşağıdaki Panelden Yapabilirsiniz
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">İçerik</th>
                        <th scope="col">Tarih</th>
                        <th scope="col">Durum</th>
                        <th scope="col">Sil</th>
                        <th scope="col">Güncelle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@c</td> 
                            <td>@item.Title</td>
                            <td>@item.Date</td>
                            @if (item.Status)
                            {
                                <td><a href="/ToDoList/ChangeIsRead/@item.ToDoListId" class="btn btn-outline-primary btn-round">Yapılmadı Olarak İşaretle</a></td>
                            }
                            else
                            {
                                <td><a href="/ToDoList/ChangeIsRead/@item.ToDoListId" class="btn btn-outline-warning btn-round">Yapıldı Olarak İşaretle</a></td>
                            }
                            <td><a href="/ToDoList/DeleteToDo/@item.ToDoListId" class="btn btn-danger">Sil</a></td>
                            <td><a href="/ToDoList/UpdateToDo/@item.ToDoListId" class="btn btn-success">Güncelle</a></td>
                        </tr>
                        c++;
                    }
                </tbody>
            </table>
            <a href="/ToDoList/CreateToDo/" class="btn btn-primary">Yeni Yapılacak İşlem Ekle</a>
        </div>
    </div>
</div>
