@model Experience
@{
    ViewData["Title"] = "CreateExperience";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="container-fluid">
    <h3>Deneyim Ekleme Sayfası</h3>
    <div class="card">
        <div class="card-body">
            <div class="card-sub">
                Deneyimlerle İlgili İşlemleri Aşağıdaki Panelden Yapabilirsiniz
            </div>
            <hr />
            <form method="post">
                <label>Deneyim Başlığı & Firma Bilgisi</label>
                <input type="text" asp-for="Head" class="form-control">
                <br />
                <label>Posizyon</label>
                <input type="text" asp-for="Title" class="form-control">
                <br />
                <label>Tarih Aralığı</label>
                <input type="text" asp-for="Date" class="form-control">
                <br />
                <label>Açıklama</label>
                <textarea rows="4" class="form-control" asp-for="Description"></textarea>
                <br />
                <button class="btn btn-primary">Deneyimi Ekle</button>
            </form>

        </div>
    </div>
</div>

