@model Portfolio
@{
    ViewData["Title"] = "CreatePortfolio";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="container-fluid">
    <h3>Deneyim Ekleme Sayfası</h3>
    <div class="card">
        <div class="card-body">
            <div class="card-sub">
                Deneyimlerle İlgili İşlemleri Aşağıdaki Panelden Yapabilirsiniz
            </div>
            <hr />
            <form method="post">
                <label>Başlık</label>
                <input type="text" asp-for="Title" class="form-control">
                <br />
                <label>Alt Başlık</label>
                <input type="text" asp-for="Subtitle" class="form-control">
                <br />
                <label>Görsel Yolu</label>
                <input type="text" asp-for="ImgaeUrl" class="form-control">
                <br />
                <label>Proje Linki</label>
                <input type="text" asp-for="Url" class="form-control">
                <br />
                <label>Açıklama</label>
                <textarea rows="4" class="form-control" asp-for="Description"></textarea>
                <br />
                <button class="btn btn-warning">Portfolyo Ekle</button>
            </form>
        </div>
    </div>
</div>
