<div class="col-eight tab-full contact__form">
    <form method="post">
        <fieldset>

            <div class="form-field">
                <input type="text" placeholder="İsim Soyisim" value="" minlength="2" required="" aria-required="true" class="full-width">
            </div>
            <div class="form-field">
                <input type="email"  placeholder="E-Posta" value="" required="" aria-required="true" class="full-width">
            </div>
            <div class="form-field">
                <input type="text"  placeholder="Konu" value="" class="full-width">
            </div>
            <div class="form-field">
                <textarea placeholder="Mesaj" rows="10" cols="50" required="" aria-required="true" class="full-width"></textarea>
            </div>
            <div class="form-field">
                <button class="full-width btn--primary">Gönder</button>
                <div class="submit-loader">
                    <div class="text-loader">Sending...</div>
                    <div class="s-loader">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>

    <!-- contact-warning -->
    <div class="message-warning">
        Something went wrong. Please try again.
    </div>

    <!-- contact-success -->
    <div class="message-success">
        Your message was sent, thank you!<br>
    </div>

</div>