@model SocialMedia
@{
    ViewData["Title"] = "CreateSocialMedia";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="container-fluid">
    <h3>Sosyal Medya Ekleme Sayfası</h3>
    <div class="card">
        <div class="card-body">
            <div class="card-sub">
                Sosyal Medya İle İlgili İşlemleri Aşağıdaki Panelden Yapabilirsiniz
            </div>
            <hr />
            <form method="post">
                <label>Platform</label>
                <input type="text" asp-for="Title" class="form-control">
                <br />
                <label>Link</label>
                <input type="text" asp-for="Url" class="form-control">
                <br />
                <label>İkon</label>
                <input type="text" asp-for="Icon" class="form-control">
                <br />
                <button class="btn btn-warning">Platform Ekle</button>
            </form>
        </div>
    </div>
</div>