@model List<SocialMedia>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="container-fluid">
    <h3>Sosyal Medya Listesi</h3>
    <div class="card">
        <div class="card-body">
            <div class="card-sub">
                Sosyal Medya İle İlgili İşlemleri Aşağıdaki Panelden Yapabilirsiniz
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Platform</th>
                        <th scope="col">Link</th>
                        <th scope="col">Sil</th>
                        <th scope="col">Güncelle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.SocialMediaId</td>
                            <td>@item.Title</td>
                            <td><a href="@item.Url">@item.Url</a></td>
                            <td><a href="/SocialMedia/DeleteSocialMedia/@item.SocialMediaId" class="btn btn-danger">Sil</a></td>
                            <td><a href="/SocialMedia/UpdateSocialMedia/@item.SocialMediaId" class="btn btn-success">Güncelle</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="/SocialMedia/CreateSocialMedia/" class="btn btn-primary">Yeni Platform Ekle</a>
        </div>
    </div>
</div>

